html {
    scroll-behavior: smooth;
    background-color: #180118ff;
}

body {
    font-family: 'Handjet', cursive;
    font-family: 'Orbitron', sans-serif;
    
    background: rgb(80, 11, 255);
    background: linear-gradient(180deg, rgb(12, 6, 12) 11%, rgb(11, 6, 11) 60%, rgb(15, 6, 14) 100%);
 
    color: #99dcf5;
}

strong {
    font-weight: bolder;
}